
* { box-sizing: border-box; margin: 0; padding: 0; }

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #062952;
  color: white;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #001c3d;
  border-bottom: 4px solid #d8a600;
}

header h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 30px;
}

.featured {
  background: #fff;
  color: #000;
  padding: 15px;
  border-radius: 5px;
  position: relative;
  width: 100%;
  max-width: 900px;
}

.featured img {
  width: 100%;
  border-radius: 5px;
}

.featured-label {
  position: absolute;
  top: 10px;
  left: 10px;
  background: gold;
  color: black;
  padding: 5px;
  font-weight: bold;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.posts article {
  background: #ffffff;
  color: #000;
  padding: 15px;
  border-radius: 5px;
  max-width: 400px;
}

.posts img {
  width: 100%;
  border-radius: 5px;
}

aside {
  max-width: 300px;
  background: #ffffff;
  color: #000;
  padding: 20px;
  border-radius: 5px;
  height: fit-content;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: #001c3d;
  padding: 20px;
  margin-top: 40px;
}

footer h4 {
  margin-bottom: 10px;
}

footer div {
  max-width: 300px;
}
